###########
# General #
###########

TAGS
*.cm*
*.o
*.a
*.annot
*~
*_DEP
*.depend
\#*
.\#*
.DS_Store
*.tmp
/.git_version
frama_c_journal.ml
*transf
*.bnf

#########
# build #
#########

.Makefile.plugin.generated
configure
autom4te.cache
/.depend
/config.log
/config.status
/frama-c-*.tar.gz
/.log.autoconf
/.Makefile.user
/ocamlgraph/
META.*
/gui/
top/*
_build/*

#########
# share #
#########

/share/Makefile.config
/share/Makefile.dynamic_config
/share/Makefile.kernel
/share/frama-c.rc
*.s
frama-c-*.tar.gz
.log.autoconf
.Makefile.parallel
*.tmp
*.output
*.check_mli_exists
/share/protocol
/share/protocol_example

##############
# particular #
##############

/.merlin
*/.frama-c/*
*.frama-c/*
/tests/*/.frama-c/*
/tests/*/*/.frama-c/*
*.lia.cache
*.why.bak

*_test
*.tex
coq/driver
astraver.why3.conf

*.simple.c
*.simple.h

*.separated.c
*.separated.h

*.union.c
*.union.h
